.all-courses {
  background: $light-gray;
  padding-top: 40px;
  line-height: 40px;

  @media only screen and (max-width: 575.98px) {
    line-height: 34px;
  }

  .pagging {
    height: 120px;
    padding-right: 26px;
  }

  .pagination-custom {
    height: 100px;
    padding-right: 26px;
  }

  .pagination {
    .pagination-arrow-button {
      width: 60px;
      border: 1px solid $light-green;
      box-sizing: border-box;
      border-radius: 3px;
      height: 40px;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 25px;
      letter-spacing: -0.05em;
      color: $light-green;
      text-decoration: none;
      margin: 0px 3px;
    }

    .pagination-arrow-button-hover:hover {
      background-color: $light-green;
      color: white;
    }

    .page-button {
      border: 1px solid $light-green;
      box-sizing: border-box;
      border-radius: 3px;
      width: 40px;
      height: 40px;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 25px;
      letter-spacing: -0.05em;
      color: $light-green;
      text-decoration: none;
      margin: 0px 3px;

      &:hover {
        background-color: $light-green;
        color: white;
      }
    }

    .page-button-active {
      background: $light-green;
      border: 1px solid $light-green;
      box-sizing: border-box;
      border-radius: 3px;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 25px;
      letter-spacing: -0.05em;
      color: white;
      text-decoration: none;
      margin: 0px 3px;
      width: 40px;
      height: 40px;
    }

    .fa-ellipsis-h {
      color: $light-green;
    }

    .disabled {
      cursor: not-allowed;

      &:hover {
        background-color: $light-gray !important;
        color: $light-green !important;
      }
    }
  }
}

.search-form {
  .filter-button {
    padding: 0 15px;
    background: white;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-right: 12px;

    &:hover {
      background-color: $light-green;
    }

    .filter-img {
      width: 18px;
      height: 20px;
      object-fit: fill;
    }

    .filter-txt {
      font-weight: bold;
      font-size: 16px;
      color: $dark;
      margin-left: 6px;
    }
  }

  .search-form-input {
    max-width: 355px;
    width: 100%;
    background: white;
    border: 1px solid $simplewhite;
    font-weight: normal;
    font-size: 16px;
    padding-left: 10px;
    border-radius: 5px;
    padding-right: 47px;

    &:focus {
      border: 2px solid $light-green;
      outline: none;
    }
  }

  .search-form-img {
    width: 35px;
    height: 35px;
    background: white;
    font-size: 20px;
    color: $dark;
    border: none;
    margin-left: -45px;
    position: relative;
    top: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .search-button {
    white-space: nowrap;
    background: $light-green;
    border: 1px solid $light-green;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
    color: white;
    margin-left: 22px;

    &:hover {
      color: $dark;
    }
  }

  .filter-collapse {
    background: white;
    border: 1px solid $simplewhite;
    box-sizing: border-box;
    border-radius: 5px;
  }

  .filter-collapse-body {
    padding: 13px 18px 0 18px;
  }

  .reset-btn {
    padding: 0 25px;
    background: red;
    border: 0;
    border-radius: 5px;
    color: white;
    cursor: pointer;

    &:hover {
      color: $dark;
    }

    &:focus {
      background-color: 1px solid $light-green;
    }
  }
}

.newest-oldest-radio input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.filter-ingredients {
  >* {
    margin-right: 10px;
    margin-bottom: 1rem;
  }
}

.newest-oldest-radio label {
  background-color: $light-gray;
  font-size: 14px;
  border-radius: 2px;
  font-weight: bold;
  padding: 7px 5px;
  text-align: center;
  cursor: pointer;
}

.newest-oldest-radio label:hover {
  color: $light-green;
}

.newest-oldest-radio input[type="radio"]:checked+label {
  background-color: $light-green;
  color: white;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 34px;
  font-size: 14px;
}

.select2-container .select2-selection--single {
  height: 34px !important;
}

.select2-selection__arrow {
  height: 34px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  //background-image: url(../assets/img/dropdown_arrow.png);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  border: none;
  height: 10px;
  width: 12px;
  top: auto;
  left: auto;
  margin-top: 13px;
  margin-left: 5px;
}

.newest-oldest-radio input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.newest-oldest-radio label {
  display: inline-block;
  //background-color: $button_oldest_newest;
  font-size: 14px;
  border-radius: 2px;
  font-weight: bold;
  width: 83px;
  padding: 7px 5px 7px 5px;
  text-align: center;
  cursor: pointer;
}

.newest-oldest-radio label:hover {
  color: $light-green;
}

.newest-oldest-radio input[type="radio"]:checked+label {
  background-color: $light-green;
  color: white;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 34px;
  font-size: 14px;
}

.select2-container .select2-selection--single {
  height: 34px !important;
}

.select2-selection__arrow {
  height: 34px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  //background-image: url(../assets/img/dropdown_arrow.png);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  border: none;
  height: 10px;
  width: 12px;
  top: auto;
  left: auto;
  margin-top: 13px;
  margin-left: 5px;
}

.newest-oldest-radio input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.newest-oldest-radio label {
  display: inline-block;
  //background-color: $button_oldest_newest;
  font-size: 14px;
  border-radius: 2px;
  font-weight: bold;
  width: 83px;
  padding: 7px 5px 7px 5px;
  text-align: center;
  cursor: pointer;
}

.newest-oldest-radio label:hover {
  color: $light-green;
}

.newest-oldest-radio input[type="radio"]:checked+label {
  background-color: $light-green;
  color: white;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 34px;
  font-size: 14px;
}

.select2-container .select2-selection--single {
  height: 34px !important;
}

.select2-selection__arrow {
  height: 34px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  //background-image: url(../assets/img/dropdown_arrow.png);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  border: none;
  height: 10px;
  width: 12px;
  top: auto;
  left: auto;
  margin-top: 13px;
  margin-left: 5px;
}

.list-courses {
  &-card {
    height: 100%;
    background: white;
    border: 1px solid $light-gray;
    box-sizing: border-box;
    box-shadow: 0px 0px 6px $gray;
    border-radius: 8px;
  }

  .course-card-top-img {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    margin-right: 25px;
    object-fit: fill;
  }

  .course-card-top-content-title {
    font-weight: bold;
    font-size: 25px;
    line-height: 31px;
    letter-spacing: -0.05em;
    color: $dark;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  .course-card-top-content-description {
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: -0.05em;
    color: $dark;
    height: 100px;
    margin-top: 13px;
    margin-bottom: 13px;
    padding-right: 43px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
}

.detail-link-a {
  padding: 10px 40px;
}

.course-card-bottom {
  height: 75px;
  border-top: 1px solid $light-gray;
  margin-top: 26px;


  &-subtitle {
    font-weight: bold;
    font-size: 25px;
    line-height: 31px;
    letter-spacing: -0.05em;
    color: $dark;
  }

  &-number {
    font-weight: bold;
    font-size: 26px;
    line-height: 37px;
    letter-spacing: -0.05em;
    color: $light-green;
    -webkit-text-stroke-width: 1.2px;
  }
}

@media only screen and (max-width: 767.98px) {
  .all-courses {
    .pagination {
      .pagination-arrow-button {
        width: 46px;
        height: 30px;
        font-size: 16px;
      }

      .pagination-arrow-button-hover:hover {
        background-color: $light-green;
        color: white;
      }

      .page-button {
        width: 30px;
        height: 30px;
        font-size: 16px;
      }

      .page-button-active {
        width: 30px;
        height: 30px;
        font-size: 16px;
      }
    }
  }

  .search-form {
    .filter-collapse {
      padding-bottom: 16px;
    }
  }

  .list-courses {
    .course-card-top-img {
      height: 60px;
      width: 60px;
      margin-right: 18px;
    }

    .course-card-top-content-title {
      font-size: 20px;
    }

    .course-card-top-content-description {
      padding-right: 0px;
      font-size: 14px;
    }

    .course-card-bottom {
      height: 75px;
      border-top: 1px solid $light-gray;
      margin-top: 26px;
    }

    .course-card-bottom-subtitle {
      font-size: 20px;
    }

    .course-card-bottom-number {
      font-size: 17px;
    }
  }
}

@media only screen and (max-width: 575.98px) {
  .all-courses {
    .pagination {
      .pagination-arrow-button {
        width: 29px;
        height: 19px;
        font-size: 13px;
      }

      .pagination-arrow-button-hover:hover {
        background-color: $light-green;
        color: white;
      }

      .page-button {
        width: 19px;
        height: 19px;
        font-size: 12px;
        margin-right: 2px;
        margin-left: 2px;
      }

      .page-button-active {
        width: 19px;
        height: 19px;
        font-size: 12px;
        margin-right: 2px;
        margin-left: 2px;
      }
    }
  }

  .search-form {
    .filter-collapse {
      padding-bottom: 16px;
    }
  }

  .search-form {
    .filter-button {

      margin-right: 4px;

      .filter-img {
        width: 13px;
        height: 13px;
      }

      .filter-txt {
        font-size: 12px;
      }
    }



    .search-form-img {
      width: 29px;
      height: 29px;
      font-size: 15px;
      margin-left: -33px;
    }

    .filter-collapse {
      padding-bottom: 16px;
    }

    .filter-collapse-body {
      padding: 13px 18px 0 18px;
    }
  }

  .list-courses {
    .course-card-top-img {
      height: 60px;
      width: 60px;
      margin-right: 18px;
    }

    .course-card-top-content-title {
      font-size: 20px;
    }

    .course-card-top-content-description {
      padding-right: 0px;
      font-size: 14px;
    }

    .button-more {
      width: 80px;
      height: 30px;
      font-size: 15px;

      &:hover {
        color: $dark;
      }
    }

    .course-card-bottom {
      height: 75px;
      border-top: 1px solid $light-gray;
      margin-top: 26px;
    }

    .course-card-bottom-subtitle {
      font-size: 16px;
    }

    .course-card-bottom-number {
      font-size: 14px;
    }
  }
}
