.pagination-custom {
  .arrow {
    width: 60px !important;
  }

  .page-button {
    border: 1px solid $light-green;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 10px 15px;
    @media only screen and (max-width: 575.98px){
        padding: 5px 10px;
    }
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.05em;
    color: $light-green;
    text-decoration: none;
    margin: 0px 3px;

    &:hover {
      background-color: $light-green;
      color: white;
    }
  }

  .active>.page-link {
    background-color: $light-green;
    color: white;
    border: 1px solid $light-green;
  }
}
