.alert-popup {
  width: 300px;
  padding: 10px;
  font-size: 20px;
  position: fixed;
  z-index: 1030;
  top: 150px;
  right: 100px;
  background-color: $light-green;
  box-shadow: 0 0 10px 1px gray;
}

@media only screen and (max-width: 575.98px) {
  .alert-popup {
    top: 80px;
    right: 30px;
  }
}
