.profile {
  background: $light-gray;
  padding-bottom: 100px;
  padding-top: 40px;

  .avatar-div {
    position: relative;
    display: inline-block;

    .avatar {
      width: 255px;
      height: 255px;
      border: 5px solid white;
      object-fit: cover;
      border-radius: 50%;
    }

    .cancel-btn {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 28px;
      cursor: pointer;
    }

    .camera {
      position: absolute;
      bottom: 0;
      left: 45%;
      color: white;
      font-size: 28px;
      cursor: pointer;
    }
  }

  .username {
    font-size: 25px;
    text-align: center;
    -webkit-text-stroke-width: 1px;
  }

  .email {
    color: $light-black;
    text-align: center;
  }

  .profile-hr {
    margin: 15px 0;
  }

  .info-div {
    >i:first-child {
      width: 30px;
    }

    font-size: 16px;
  }

  .icon-birthday {
    color: lightcoral;
  }

  .icon-phone {
    color: $light-green;
  }

  .icon-address {
    color: plum;
  }

  .introduction {
    font-size: 18px;
    line-height: 26px;
    text-align: justify;
    color: $light-black;
  }

  .my-course {
    padding-top: 40px;

    @media only screen and (min-width: 991px) {
      padding-top: 120px;
    }
  }

  .list-courses {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &-item {
      margin: 5px;

      .img-course {
        width: 66px;
        height: 66px;
        object-fit: fill;
        border-radius: 50%;
      }

      .add-new-course {
        width: 66px;
        height: 66px;
        background: white;
        border: 1.5px solid $dark;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .course-title {
        font-size: 14px;
        white-space: nowrap;
        width: 66px;
        text-align: center;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }


  .edit-profile-title {
    font-size: 38px;
    line-height: 47px;

    -webkit-text-stroke-width: 2px;
    border-bottom-style: double;
    border-bottom-color: $dark;
  }

  .input-label {
    font-size: 20px;
    line-height: 25px;
    -webkit-text-stroke-width: 0.5px;
  }

  .input-style {
    height: 50px;
  }

  .profile-title {
    font-size: 38px;
    margin-bottom: 30px;
    -webkit-text-stroke-width: 2px;
    border-bottom: 5px double $light-green;

    @media only screen and (max-width: 991px) {
      text-align: center;
    }
  }
}
